body { margin: 1em; font-size: 12pt; }
fieldset { margin: 0 0 1em; }

.cardify-card {
    border: 1px dashed #666;
    margin: 0 0 1em;
    padding: .25in;
    position: relative;
    border-radius: 1em;
}
.cardify-card .masthead {
    position: absolute;
    top: .05in;
    left: .25in;
    right: .25in;
    font-size: 10px;
    color: #ccc;
}
.cardify-card .masthead .title {
    float: left;
}
.cardify-card .masthead .page {
    float: right;
}

.threebyfive,
.fourbysix,
.eightbyeleven
 {
    font-size: 12px;
}

.card-small { font-size: 11px; }
.card-large { font-size: 14px; }

.threebyfive .cardify-card {
    width: 4.5in;
    height: 2.5in;
}
.fourbysix .cardify-card {
    width: 5.5in;
    height: 3.5in;
}
.eightbyeleven .cardify-card {
    width: 7in;
    height: 9in;
}

.cardify-this-mutha { display: none; }

@media print {
    .cardify-wrapper { page-break-before: always; }
    .make-cards { display: none; }
    .page-break { page-break-before: always; }
}